<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= project.location %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= project.year %>
  </p>

  <p>
    <strong>Area:</strong>
    <%= project.area %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= project.cost %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Thumbnail:</strong>
    <%= image_tag(project.thumbnail) %>
  </p>
</div>
