<div id="<%= dom_id member %>">
  <p>
    <strong>Team:</strong>
    <%= member.team_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= member.name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= member.title %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= image_tag(member.photo) %>
  </p>

</div>
